modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "IniciarBot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "KeepAlive"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DashboardWeb"

[[workflows.workflow]]
name = "IniciarBot"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Goku-Black-Bot-MD && node index.js"

[[workflows.workflow]]
name = "KeepAlive"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node keep-alive.js"

[[workflows.workflow]]
name = "DashboardWeb"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node dashboard-server.cjs"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "node setup.js"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
